
body {
    background-color:#E9F5F8;
}
canvas {
    background-color: #f2e6d9;
    float: left;
     position: relative;
     margin: 5px;
     border: 2px dotted #644B51;
}
div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
span {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 175px;
}
#hodograph-canvas {
    background-color: #dad9f2;
}
#text-div {
    width: 1035px;
    padding: 5px 0px;
    margin: auto;
}
#instructions {
    padding-top: 525px;
    text-align: center;
}
#canvas-div {
    padding: 0;
    margin: auto;
    display: block;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    height: 510px;
    width: 1035px;
} 