
body {
    background-color:#E9F5F8;
}
canvas {
    margin: 5px;
    background-color: #f2e6d9;
    border: 2px dotted #644B51;
}
div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
span {
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 175px;
}
#hodograph-canvas {
    background-color: #dad9f2;
}
#text-div {
    width: 1035px;
    padding: 5px 0px;
    margin: auto;
}
#canvas-div {
    display: flex;
    justify-content: center;
    align-items: center;
    
} 